
<div class="modal-header">
  <h4 class="font-20 fw-600 mb-0" ngbAutoFocus>{{data?.headingText || 'Confirm'}}</h4>
</div>
<div class="modal-body">
  <ng-container *ngIf="!data?.body;else elseBlock">
    <h6 class="font-16 fw-500">Are you sure?</h6>
  </ng-container>
  <ng-template #elseBlock>
    <p class="mb-0 font-16 fw-500">{{data?.body}}</p>
  </ng-template>
</div>
<div class="modal-footer border-0 gap-2 justify-content-end">
  <button type="button" class="myBtn secondaryBtn" (click)="confirm(false)">{{data?.cancelText || 'Cancel'}}</button>
  <button type="button" class="myBtn primaryBtn" (click)="confirm(true)"><i *ngIf="!data?.hideIcon" class="fas fa-trash-can me-2"></i> {{data?.confirmText || 'Yes'}}</button>
</div>


